<!-- MAIN LAYOUT START -->
<body>
	<div id="page">
				
					<!-- NAVIGATION -->
					<div id="header">
						<div style="float: left; padding: 6px 12px 0px 12px;"><a href="index.php"><b>%blog_title%</b></a></div>
						<div style="float: left;"><img src="%image_path%nav-splitter.gif" alt="" height="25" width="2" /></div>
						<div style="float: left; padding: 6px 12px 0px 12px;"><a href="rss.php">Feed</a></div>
						<div style="float: left;"><img src="%image_path%nav-splitter.gif" alt="" height="25" width="2" /></div>
						<div style="float: right; padding: 6px 12px 0px 12px;"><a href="contact.php">Contact</a></div>
						<div style="float: right;"><img src="%image_path%nav-splitter.gif" alt="" height="25" width="2" /></div>
					</div>
					
				<div id="pagebody">

						
					<!-- SIDEBAR -->
					<div id="sidebar">
						%menu%
					</div>

						<!-- MAIN CONTENT -->
					<div id="maincontent">
						<!-- <h1>%blog_title%</h1> -->
						<p />
						%content%
						<p />
					</div>
					
					<div id="footer"><p class="copyright">%footer%</p></div>
					
				</div>
	</div>
</body>
<!-- MAIN LAYOUT END -->
